.portfolioMobile{
    background-color: #fff;
    padding: 2rem;
    padding-bottom: 0rem;
    border-top: 6px solid #52FFB6;
    border-bottom: 6px solid #52FFB6;
}

.portfolioMobile .titulo{
    font-size: 4.8vh;
    color: #3F608F;
    margin-bottom: 0.8rem;
    padding: 2rem -2rem 2rem;
    font-family: 'GothamMedium';
    text-transform: uppercase;
}

.portfolioMobile .texto{
    padding: 0 -2rem 2rem;
    margin-bottom: 2rem;
    font-family: 'GothamBook';
}

.portfolioMobile .image-gallery-slide .image-gallery-image{
    width: 90vw;
}

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg, .image-gallery-fullscreen-button{
    height: 45px;
    width: 60px;
}

.image-gallery-fullscreen-button .image-gallery-svg, .image-gallery-play-button .image-gallery-svg {
        display: none;
}

.portfolioMobile .image-gallery-slide .image-gallery-image{
    border-radius: 8px !important;
}

.image-gallery-svg:hover{
    fill: #52FFB6 !important;
    color: #52FFB6 !important;
}


@media(min-width: 768px){
    .portfolioMobile{
        padding: 8vh 10vw;
    }
}

 @media(min-width: 1024px){
    .portfolioMobile{
        padding: 10vh 12vw;
    }

    .portfolioMobile .titulo{
        font-size: 6vh;
    }

    .portfolioMobile .texto{
        font-size: 1.25rem;
    }

    .portfolioMobile .image-gallery-slide .image-gallery-image{
        width: 60vw;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
} 