.nosotros{
    padding: 2rem;
    background-color: #fff;
    border-bottom: 4px solid #52FFB6;
    border-top: 4px solid #52FFB6;
}

.nosotros .titulo{
    color: #3F608F;
    font-size: 5vh;
    margin-bottom: 0.8rem;
    font-family: 'GothamMedium';
    text-transform: uppercase;
}

.nosotros .texto{
    color: #3F608F;
    font-family: 'GothamBook';
}

.nosotros .negrita{
    font-weight: 700;
    color: #3F608F;
}

@media(min-width: 768px){
    .nosotros{
        padding: 8vh 10vw;
    }
}

@media(min-width: 1024px){
    .nosotros{
        padding: 10vh 12vw;
    }

    .nosotros .titulo{
        font-size: 6vh;

    }

    .nosotros .texto{
        font-size: 1.25rem;
    }
}