.servicios{
    background-color: #0115ff;
    color: #fff;
    padding: 2rem;
}

.servicios .titulo{
    color: #FFF;
    font-size: 5vh;
    margin-bottom: 0.8rem;
    font-family: 'GothamMedium';
    text-transform: uppercase;
}

.servicios .texto{
        color: #fff;
        font-family: 'GothamBook';
        font-size: 2vh;
        text-align: justify;
}

.servicios .container{
    display: flex;
    flex-direction: column;
    margin-top: 1.75rem;
}

.servicios .container .card{
    border-bottom: 4px solid #52FFB6;
    border-right: 4px solid #52FFB6;
    margin: 1rem;
    padding: 0.65rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.servicios .container .card .img{
    width: 45vw;
    display: flex;
    margin: auto;
    padding-bottom: 1rem;
}

.servicios .container .card .titulo{
    color: #3F608F;
    text-align: center;
    font-family: 'GothamMedium';
    font-size: 2.5vh;
}

.servicios .container .card .texto{
    margin-top: -0.5rem;
    color: #3F608F;
    font-family: 'GothamBook';
    text-align: center;
}

@media (min-width: 768px){
    .servicios{
        padding: 8vh 10vw;
    }

    .servicios .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .servicios .container .card{
        width: 33vw;
    }

    .servicios .container .card .img{
        width: 30vw;
        display: flex;
        justify-items: center;
        margin: auto;
    }
}

@media (min-width: 1024px) {
    
    .servicios{
        padding: 10vh 12vw;
    }

    .servicios .texto{
        font-size: 1.25rem;
    }
    
    .servicios .container .card {
        width: calc(26% - 2rem);
        margin: 0;
        margin-top: 1.5rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .servicios .container .card .img {
        width: 10vw;
        padding-bottom: 2rem;
    }

    .servicios .container .card .img:first-child{
        padding-bottom: 1rem;
    }
    
    .servicios .container .card .titulo {
        padding: 0;
        font-size: 2.5vh;
        margin-bottom: 0.75rem;
    }
    
    .servicios .container .card .texto {
        padding: 0;
        font-size: 2.25vh;
        margin-top: 0;
    }
}