.navBar .MuiToolbar-root {
    background-color: #fff !important;
    color: #fff !important;
    padding: 0.15rem 1rem;
}

.menuDrawer .MuiButtonBase-root {
    color: #7AD2C4 !important;
}

.MuiPaper-root{
    background-color: #fff !important;
}

.css-1edfpdg-MuiTypography-root{
    color: #3F608F !important;
    font-weight: 400 !important;
    font-size: 1.5rem !important;
    padding: 1rem !important;
    text-decoration: underline !important;
    text-underline-offset: 8px !important;
}

.css-1edfpdg-MuiTypography-root:hover{
    color: #52FFB6 !important;
}

.css-20bmp1-MuiSvgIcon-root{
    fill: #3F608F !important;
    font-weight: 900;
}


.navBar .isologo{
    height: 13vh !important;
}

.navBar .logo{
    height: 7vh !important;
}
