.navBar .MuiToolbar-root {
    background-color: #272626 !important;
    color: #272626 !important;
    padding: 0.5rem 1rem;
}

.menuDrawer .MuiButtonBase-root {
    color: #7AD2C4 !important;
}

.MuiPaper-root{
    background-color: #272626 !important;
}

.css-1edfpdg-MuiTypography-root{
    color: #fff !important;
    font-weight: 400 !important;
    font-size: 2rem !important;
    text-decoration: underline;
    text-underline-offset: 8px;
    padding: 1rem;
}

.css-20bmp1-MuiSvgIcon-root{
    fill: #3F608F !important;
    font-weight: 900;
}

.isologo{
    height: 13vh !important;
}

.logo{
    height: 9vh !important;
}
