.footer{
    border: 1px solid #3F608F;
    margin: 1rem;
    margin-bottom: 0;
    border-radius: 10px;
    padding: 1rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 700;
    background-color: #7AD2C4;
    text-align: center;
    font-family: 'GothamBook';
}

.footer .logo{
    width: 20vw;
    height: 80vh;
    display: flex;
    margin: auto;

}

.footer .links{
    margin: 1rem 0;
    font-family: 'GothamBook';
    color: #3F608F;
}