.footer{
    border: 1px solid #3F608F;
    margin: 1rem 1rem;
    margin-bottom: 0;
    border-radius: 10px;
    padding: 1rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 700;
    background-color: #fff;
    text-align: center;
    font-family: 'GothamBook';
}

.footer .logo{
    width: 15vw;
    display: flex;
    margin: auto;
}

.footer .containerTexto .texto{
    margin: 1rem 0;
    font-family: 'GothamBook';
    color: #3F608F;
}

.footer .bold{
    color: #3F608F;
    font-weight: 900;
    text-decoration: none;
}

.footer .bold:hover{
    color: #52FFB6;
}

@media(min-width: 768px){
    .footer .logo{
        width: 10vw;
    }

    .footer {
        font-size: 1rem;
    }

    .footer .containerTexto .texto{
        margin: 1.5rem;
    }
}

@media (min-width:1024px){
    .footer{
        display: flex;
        justify-content: center;
        margin: 1rem;
        margin-bottom: 0.5rem;
    }

    .footer .logo{
        width: 8vw;
    }

    .footer .containerTexto .texto{
        padding: 0rem;
        margin: 1.5rem;
        font-size: 1rem;
    }

}