.contacto{
    background-color: #3F608F;
    padding: 2rem;
}

.contacto .titulo{
    font-size: 5vh;
    margin-bottom: 0.8rem;
    color: #52FFB6;
}

.contacto .texto{
    color: #fff;
    padding-bottom: 2rem;
}

.contacto .box{
    margin-left: -1.5vw;
}

.contacto .boton{
    display: flex;
    margin: 1.5rem auto;
    background-color: #52FFB6;
    color: #fff;
    font-size: 1.05rem;
}

.containerIMG{
    display: none;
}