@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1C404E;
  font-family: "Lato", sans-serif;
}

@font-face {
  font-family: 'BankGothicBold';
  src: url('./Fonts/BankGothicBold/BankGothicBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamMedium';
  src: url('./Fonts/GothamMedium/GothamMedium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GothamBook';
  src: url('./Fonts/GothamBook/GothamBook.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
